.btn {
  display: block;
  width: 100%;
  padding: 10px;
  background: black;
  color: white;
  font-size: 19px;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
  margin: 2 auto;
  border: 0;
  outline: none;
  cursor: pointer;
}
